*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

.college-name-container{
  width: 100%;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
}

.college-name-container .college-name{
  font-size: 1.5rem;
  font-family: Amethysta;
  font-weight: 600;
}

.college-name-container .college-title{
  font-size: 1rem;
  font-family: Merriweather;
}

.college-name-container .college-details{
  font-size: 1rem;
}