/* Example CSS for navigation bar */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    display: flex;
    align-items: center;
    border-radius: 11px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    height: 100%;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    font-family: Montserrat;
    border-radius: 11px;
    font-size: 0.7rem;
}

nav ul li a:hover {
    background-color: #555;
}

svg{
    fill: red;
    
}
